b-solid{
  border-style:
  solid
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, .5fr);
  grid-column-gap: 0px;
  grid-row-gap: -100px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 3; } 
  .div2 { grid-area: 1 / 3 / 2 / 4;  padding-left: 50%;  } 
  .div3 { grid-area: 1 / 4 / 2 / 5; } 
  .div4 { grid-area: 1 / 5 / 2 / 6; } 
  .div5 { grid-area: 2 / 4 / 3 / 6; } 
  .div6 { grid-area: 2 / 1 / 3 / 2; } 
  .div7 { grid-area: 2 / 2 / 3 / 3; } 

