<div class="card">
  <div class="card-body">
    <div class="stepper stepper-links d-flex flex-column pt-15" id="kt_create_account_stepper">
      <div class="stepper-nav mb-5">
        <div class="stepper-item" [ngClass]="{
            current: currentStep$.value === 1,
            completed: currentStep$.value > 1
          }">
          <h3 class="stepper-title">Selección de Fechas</h3>
        </div>

        <div class="stepper-item" x [ngClass]="{
            current: currentStep$.value === 2,
            completed: currentStep$.value > 2
          }">
          <h3 class="stepper-title">Disponibilidad</h3>
        </div>

        <div class="stepper-item" [ngClass]="{
            current: currentStep$.value === 3,
            completed: currentStep$.value > 3
          }">
          <h3 class="stepper-title">Confirmar Reservación</h3>
        </div>

        <div class="stepper-item" [ngClass]="{
            current: currentStep$.value === 4,
            completed: currentStep$.value > 4
          }">
          <h3 class="stepper-title">Forma de Pago</h3>
        </div>

        <div class="stepper-item" [ngClass]="{ current: currentStep$.value === 5 }">
          <h3 class="stepper-title">Completado</h3>
        </div>
      </div>

      <form class="mx-auto pt-15 pb-10" noValidate id="kt_create_account_form">
        <div class="current">
          <!-- Step 1 -->
          <ng-container *ngIf="currentStep$.value === 1">
            <div class="step-content">
              <app-step1 (quantityChanged)="onQuantityChange($event)" (dateChanged)="onDateRangeChange($event)"
                (formValid)="handleStep1FormValidity($event)" [updateParentModel]="updateAccount">
              </app-step1>
            </div>
          </ng-container>

          <!-- Step 2 -->
          <ng-container *ngIf="currentStep$.value === 2">
            <div class="step-content">
              <app-step2 [qtyNin]="qtyNin" [qty]="qty" [updateParentModel]="updateAccount"
                [accountsCurrentData]="account$.value" [intialDate]="intialDate" [endDate]="endDate"
                class="step-section step2-section" (onQtyHabsUpdate)="honQtyHabsUpdate($event)"></app-step2>

              <div class="fixed-reserva-wrapper">
                <app-reserva class="step-section reserva-section"></app-reserva>
              </div>
            </div>
          </ng-container>



          <!-- Step 3 -->
          <ng-container *ngIf="currentStep$.value === 3">
<div class="step-content">
  <app-step3 class="step-section step3-section"></app-step3>

  <div class="fixed-reserva-wrapper">
    <app-reserva class="step-section reserva-section"></app-reserva>
  </div>
</div>

          </ng-container>

          <!-- Step 4 -->
          <ng-container *ngIf="currentStep$.value === 4">
            <app-step4 class="w-100" [updateParentModel]="updateAccount" [defaultValues]="account$.value"></app-step4>
          </ng-container>

          <!-- Step 5 -->
          <ng-container *ngIf="currentStep$.value === 5">
            <app-step5 class="w-100"></app-step5>
          </ng-container>
        </div>

        <div class="d-flex flex-stack pt-15">
          <div class="btn-group mr-2">
            <ng-container *ngIf="currentStep$.value !== 1">
              <button type="button" (click)="prevStep()">
                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
                  class="svg-icon svg-icon-4 me-1"></span>
                Back
              </button>
            </ng-container>
          </div>

          <ng-container *ngIf="currentStep$.value !== formsCount">
            <div class="btn-group">
              <button type="button"  [disabled]="!isCurrentFormValid$.value"
                (click)="nextStep()">
                <span class="indicator-label">
                  <ng-container *ngIf="currentStep$.value < formsCount - 1">
                    Continue
                    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"
                      class="svg-icon svg-icon-3 ms-2 me-0"></span>
                  </ng-container>
                  <ng-container *ngIf="currentStep$.value === formsCount - 1">
                    Submit
                  </ng-container>
                </span>
              </button>
            </div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-container *ngIf="isLoading">
  <app-loadding-spinner></app-loadding-spinner>
</ng-container>