<div style="padding-top: 3em; padding-left: 2em;">
  <div class="row">
    <div class="col-lg-3">
      <!-- <label>Día de Llegada</label> -->
    </div>
    <div class="col-lg-3">
      <!-- <label>Día de Salida</label> -->
    </div>
    <div class="col-lg-1">
      <small style="font-weight: bold;">Adultos</small>
    </div>
    <div class="col-lg-1">
      <small style="font-weight: bold;">Niños</small>
    </div>
    <div class="col-lg-4">
      <!-- <label>Código Promocional</label> -->
    </div>
  </div>
  <div class="row" [formGroup]="form">
    <div class="col-lg-3">
      <mat-form-field>
        <mat-label>Dia de Llegada</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="fechaInicialForm">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field>
        <mat-label>Dia de Salida</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="fechaFinalForm">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div style="padding: 2px;" class="col-md-1">
      <select formControlName="adultos" id="numeroDeAdultos"
        class="form-select form-select-lg form-select-solid border-gray-300">
        <option value="1">1</option>
        <option value="1">2</option>
        <option value="1">3</option>
        <option value="1">4</option>
        <option value="1">5</option>
        <option value="1">6</option>
        <option value="1">7</option>
        <option value="1">8</option>
      </select>
    </div>
    <div style="padding: 2px;" class="col-md-1">
      <select formControlName="ninos" id="numeroDeNinos"
        class="form-select form-select-lg form-select-solid border-gray-300">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="1">2</option>
        <option value="1">3</option>
        <option value="1">4</option>
        <option value="1">5</option>
        <option value="1">6</option>
        <option value="1">7</option>
        <option value="1">8</option>
      </select>
    </div>
    <div class="col-lg-4">
      <mat-form-field class="example-form-field">
        <mat-label>Còdigo Promocional</mat-label>
        <!-- <input matInput type="text" formControlName="codigoPromo" [(ngModel)]="codigoPromocional"> -->
        <input matInput type="text" formControlName="codigoPromo">
        <button *ngIf="codigoPromocional" matSuffix mat-icon-button aria-label="Clear" (click)="codigoPromocional=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <select formControlName="hotel" (change)="categoryOnChange($event)"
      class="form-select form-select-lg form-select-solid border-gray-300">
      <option>Selecciona el hotel</option>
      <ng-container *ngFor="let item of listaHoteles">
        <option [value]="item">{{item}}</option>
      </ng-container>
    </select>
  </div>
</div>
<div>

</div>


<div class="fv-plugins-message-container invalid-feedback">
  <!-- <ErrorMessage name='accountType' /> -->
</div>